<h1>Add a new recipe</h1>
  <form action="/recipes" method="POST">
    <p>
    <label for="title">Recipe title:</label>
      <input type="text" name="title" id="title" />
      </p>
      <p>
      <label for="content">Recipe description:</label>
        <input type="textarea" name="content" id="content" />
        </p>
        <p>
        <label for="cook_time">Cook Time:</label>
          <input type="text" name="cook_time" id="cook_time" />
          </p>

      <input type="submit" />
        </form>
