<h1>Recipe Book Hub</h1>
<p> Welcome, <%= @current_user.username %> here's a list of your recipes!
<h2>Recipes</h2>

<% if @recipes.empty? %>
  <p>Sorry, there are no recipes in your book at the moment!</p>
<% else %>

<ol>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"> <%= recipe.title %></a></li>
  <% end %>
</ol>
<% end %>

<br>

<p><a href="/recipes/new">Add New Recipe </a>
<p><a href="/logout"> Log Out </a>
